1. Create a string variable and print its length.

In [1]:
name = "Ronald"
print(len(name))

6

2. Take a string input from the user and print it in reverse.

In [3]:
name1 = input('What is your name?')
reversed_string = name1[::-1]
print("Reversed String:", reversed_string)

What is your name? Ronald

Reversed String: dlanoR

3. Replace all occurrences of "a" with "@" in a given string.

In [4]:
# Take string input from the user
user_input = input("Enter a string: ")

# Replace all occurrences of 'a' with '@'
modified_string = user_input.replace("a", "@")

# Print the modified string
print("Modified string:", modified_string)

Enter a string:  Ronald

Modified string: Ron@ld

4. Convert a string to all uppercase letters using a loop (without .upper()).

In [5]:
# Take string input from the user
user_input = input("Enter a string: ")

result = ""
for char in user_input:
    # Check if char is a lowercase letter (a-z)
    if 'a' <= char <= 'z':
        # Convert to uppercase by subtracting 32 from ASCII code
        result += chr(ord(char) - 32)
    else:
        # Keep character as is
        result += char

print("Uppercase string:", result)

Enter a string:  ronald

Uppercase string: RONALD

5. Count how many times the letter "e" appears in a string.

In [6]:
# Take string input from the user
user_input = input("Enter a string: ")

count_e = 0
for char in user_input:
    if char == "e":
        count_e += 1

print(f"The letter 'e' appears {count_e} times.")

Enter a string:  year

The letter 'e' appears 1 times.

6. Print the first and last character of a given string.

In [7]:
# Take string input from the user
user_input = input("Enter a string: ")

# Check if string is not empty
if len(user_input) > 0:
    first_char = user_input[0]
    last_char = user_input[-1]
    print("First character:", first_char)
    print("Last character:", last_char)
else:
    print("The string is empty.")

Enter a string:  Ronald2

First character: R
Last character: 2

7. Concatenate two strings and print the result.

In [9]:
# Take two string inputs from the user
str1 = input("Enter the first string: ")
str2 = input("Enter the second string: ")

# Concatenate the strings
result = str1 + ' ' + str2

print("Concatenated string:", result)

Enter the first string:  Ronald
Enter the second string:  Mudenyo

Concatenated string: Ronald Mudenyo

8. Check if a given string contains the word "Python".

In [11]:
# Take string input from the user
user_input = input("Enter a string: ")

# Check if "Python" exists in the string
if "Python" in user_input:
    print("Yes, the string contains 'Python'.")
else:
    print("No, the string does not contain 'Python'.")

Enter a string:  I love working with Python

Yes, the string contains 'Python'.

9. Remove all spaces from a string and print the new string.

In [12]:
# Take string input from the user
user_input = input("Enter a string: ")

# Remove all spaces
no_spaces = user_input.replace(" ", "")

print("String without spaces:", no_spaces)

Enter a string:  I love dealing with codes

String without spaces: Ilovedealingwithcodes

10.Extract and print the first five characters of a string.

In [13]:
# Take string input from the user
user_input = input("Enter a string: ")

# Extract the first five characters
first_five = user_input[:5]

print("First five characters:", first_five)

Enter a string:  Ronald

First five characters: Ronal

11.Create a list of five numbers and print the list.

In [14]:
# Create a list of five numbers
numbers = [10, 20, 30, 40, 50]

# Print the list
print("List of numbers:", numbers)

List of numbers: [10, 20, 30, 40, 50]

12.Print the third element of a given list.

In [15]:
print(numbers[2])

30

13.Replace the second element of a list with "hello".

In [16]:
numbers[2] = 'hello'
print(numbers)

[10, 20, 'hello', 40, 50]

14.Add a new element to the end of a list.

In [17]:
numbers.append(51)

In [18]:
print(numbers)

[10, 20, 'hello', 40, 50, 51]

15.Remove the last element from a list and print the modified list.

In [19]:
numbers.pop()
print(numbers)

[10, 20, 'hello', 40, 50]

16.Print each element of a list one by one using a loop.

In [20]:
for i in numbers:
    print(i)

10
20
hello
40
50

17.Check if the number 10 is in a given list.

In [24]:
# Create a sample list
my_list = [5, 8, 10, 15, 20]

# Check if 10 is in the list
if 10 in my_list:
    print("Yes, 10 is in the list.")
else:
    print("No, 10 is not in the list.")

Yes, 10 is in the list.

18.Create two lists and join them into one.

In [25]:
# Create two sample lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Join the lists
joined_list = list1 + list2

print("Joined list:", joined_list)

Joined list: [1, 2, 3, 4, 5, 6]

9.Print a list in reverse order without using slicing ([::-1]).

In [26]:
# Sample list
my_list = [10, 20, 30, 40, 50]

# Reverse the list
my_list.reverse()

print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

20.Sort a list in ascending order without using .sort().

In [27]:
# Sample list
my_list = [25, 10, 5, 30, 15]

# Bubble sort
n = len(my_list)
for i in range(n):
    for j in range(0, n - i - 1):
        if my_list[j] > my_list[j + 1]:
            # Swap
            my_list[j], my_list[j + 1] = my_list[j + 1], my_list[j]

print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [5, 10, 15, 25, 30]

21.Create a tuple of three colors and print it.

In [28]:
colors = ('Red', 'White','Green')
print(colors)

('Red', 'White', 'Green')

22.Print the second element of a given tuple.

In [29]:
print(colors[2])

Green

23.Try changing an element in a tuple (observe the error).

In [30]:
colors[2] = 'Purple'

TypeError: 'tuple' object does not support item assignment

24.Convert a tuple to a list and print it.

In [31]:
# Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Convert tuple to list
my_list = list(my_tuple)

# Print the list
print("Converted list:", my_list)

Converted list: [10, 20, 30, 40, 50]

25.Check if "blue" exists in a given tuple.

In [32]:
if "blue" in colors:
    print("Yes, 'blue' exists in the tuple.")
else:
    print("No, 'blue' does not exist in the tuple.")

No, 'blue' does not exist in the tuple.

26.Print each element of a tuple using a loop.

In [34]:
for i in colors:
    print(i)

Red
White
Green

27.Merge two tuples and print the result.

In [35]:
# Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the tuples
merged_tuple = tuple1 + tuple2

# Print the result
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

28.Print a tuple in reverse order.

In [36]:
# Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Print in reverse order using slicing
reversed_tuple = my_tuple[::-1]

print("Reversed tuple:", reversed_tuple)

Reversed tuple: (50, 40, 30, 20, 10)

29.Find the length of a tuple without using len().

In [37]:
# Create a tuple
my_tuple = (5, 10, 15, 20, 25)

# Count manually
count = 0
for _ in my_tuple:
    count += 1

print("Length of the tuple:", count)

Length of the tuple: 5

30.Create a tuple with a single element and print its type.

In [38]:
# Tuple with a single element
single_tuple = (10,)

# Print the tuple and its type
print("Tuple:", single_tuple)
print("Type:", type(single_tuple))

Tuple: (10,)
Type: <class 'tuple'>

31.Create a string "Hello, World!" and print only "World!".

In [39]:
# Create the string
text = "Hello, World!"

# Extract and print only "World!"
print(text[7:])   # starts from index 7 to the end

World!

32.Convert "Python is fun" to "PYTHON IS FUN" without using .upper().

In [40]:
text = "Python is fun"
result = ""

for char in text:
    # Check if char is lowercase
    if 'a' <= char <= 'z':
        # Convert to uppercase (subtract 32 from ASCII value)
        result += chr(ord(char) - 32)
    else:
        result += char

print(result)

PYTHON IS FUN

33.Count how many words are in "I love learning Python" (without using .split()).

In [41]:
text = "I love learning Python"

count = 1  # start with 1 word
for char in text:
    if char == " ":
        count += 1

print("Number of words:", count)

Number of words: 4

34.Take a string input from the user and check if it starts with "Hello".

In [43]:
# Take string input from the user
user_input = input("Enter a string: ")

# Check if it starts with "Hello"
if user_input[:5] == "Hello":
    print("Yes, the string starts with 'Hello'.")
else:
    print("No, the string does not start with 'Hello'.")

Enter a string:  Hi Hello

No, the string does not start with 'Hello'.

35.Print every second character of a string.

In [44]:
# Take string input from the user
user_input = input("Enter a string: ")

# Print every second character
print("Every second character:", user_input[1::2])

Enter a string:  howareyou

Every second character: oaeo

36.Replace all vowels in a string with "*".

In [45]:
# Take string input from the user
user_input = input("Enter a string: ")

vowels = "aeiouAEIOU"
result = ""

for char in user_input:
    if char in vowels:
        result += "*"
    else:
        result += char

print("String after replacing vowels:", result)

Enter a string:  hello

String after replacing vowels: h*ll*

37.Swap the first and last character of a string.

In [46]:
# Take string input from the user
user_input = input("Enter a string: ")

# Check if the string has at least 2 characters
if len(user_input) > 1:
    swapped = user_input[-1] + user_input[1:-1] + user_input[0]
else:
    swapped = user_input  # If string is 0 or 1 character, no change

print("String after swapping:", swapped)

Enter a string:  python

String after swapping: nythop

38.Check if two given strings are the same (case-sensitive).

In [47]:
# Take two string inputs from the user
str1 = input("Enter the first string: ")
str2 = input("Enter the second string: ")

# Check if they are the same (case-sensitive)
if str1 == str2:
    print("The strings are the same.")
else:
    print("The strings are different.")

Enter the first string:  Ronald
Enter the second string:  Mudenyo

The strings are different.

39.Print a string without the first and last character.

In [48]:
# Take string input from the user
user_input = input("Enter a string: ")

# Remove first and last character using slicing
if len(user_input) > 2:
    result = user_input[1:-1]
else:
    result = ""  # If string length is 0, 1, or 2 → no middle part

print("String without first and last character:", result)

Enter a string:  Ronald

String without first and last character: onal

40.Convert a string "12345" into a list of individual characters.

In [49]:
text = "12345"

# Convert string to list of characters
char_list = list(text)

print("List of characters:", char_list)

List of characters: ['1', '2', '3', '4', '5']

41.Create a list of five cities and print only the last three.

In [50]:
# Create a list of five cities
cities = ["New York", "London", "Paris", "Tokyo", "Sydney"]

# Print only the last three
print("Last three cities:", cities[-3:])

Last three cities: ['Paris', 'Tokyo', 'Sydney']

42.Remove the middle element from a list of five elements.

In [51]:
# Create a list of five elements
my_list = [10, 20, 30, 40, 50]

# Remove the middle element (index 2 for 5 elements)
my_list.pop(2)

print("List after removing middle element:", my_list)

List after removing middle element: [10, 20, 40, 50]

43.Take five numbers from the user and store them in a list.

In [53]:
# Create an empty list
numbers = []

# Take five numbers from user input
for i in range(5):
    num = int(input(f"Enter number {i+1}: "))
    numbers.append(num)

print("Numbers list:", numbers)

Enter number 1:  2
Enter number 2:  3
Enter number 3:  2
Enter number 4:  5
Enter number 5:  6

Numbers list: [2, 3, 2, 5, 6]

44.Find the index of "apple" in the list ["banana", "orange", "apple", "grape"].

In [54]:
fruits = ["banana", "orange", "apple", "grape"]

# Find index of "apple"
index = fruits.index("apple")

print("Index of 'apple':", index)

Index of 'apple': 2

45.Print only the even numbers from a given list.

In [55]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
    if num % 2 == 0:
        print(num, end=" ")

2 4 6 8 10

46.Reverse a list by swapping elements (without [::-1]).

In [56]:
my_list = [1, 2, 3, 4, 5]

n = len(my_list)
for i in range(n // 2):
    my_list[i], my_list[n - i - 1] = my_list[n - i - 1], my_list[i]

print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

47.Create a list of ten numbers and print only the unique elements.

In [57]:
my_list = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique = []

for num in my_list:
    if num not in unique:
        unique.append(num)

print("Unique elements:", unique)

Unique elements: [1, 2, 3, 4, 5, 6, 7]

48.Print the sum of all elements in a list (without using sum()).

In [58]:
my_list = [1, 2, 3, 4, 5]

total = 0
for num in my_list:
    total += num

print("Sum:", total)

Sum: 15

49.Move the first element of a list to the last position.

In [59]:
my_list = [10, 20, 30, 40]

first = my_list.pop(0)
my_list.append(first)

print("Modified list:", my_list)

Modified list: [20, 30, 40, 10]

50.Create a list with mixed data types (int, float, string) and print each element with its type.

In [61]:
my_list = [10, 3.14, "Python"]

for item in my_list:
    print(item, "->", type(item))

10 -> <class 'int'>
3.14 -> <class 'float'>
Python -> <class 'str'>

51.Create a tuple of five numbers and print only the first three.

In [62]:
my_tuple = (1, 2, 3, 4, 5)
print("First three:", my_tuple[:3])

First three: (1, 2, 3)

52.Print the last element of a tuple without using negative indexing.

In [63]:
my_tuple = (10, 20, 30, 40, 50)
print("Last element:", my_tuple[len(my_tuple) - 1])

Last element: 50

53.Convert a tuple (1, 2, 3, 4, 5) into a list and add a new number.

In [64]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
my_list.append(6)
print("Modified list:", my_list)

Modified list: [1, 2, 3, 4, 5, 6]

54.Try deleting an element from a tuple and observe the error.

In [65]:
my_tuple = (1, 2, 3)
del my_tuple[1]   # ❌ Error

TypeError: 'tuple' object doesn't support item deletion

55.Extract the middle element from a tuple with an odd number of elements.

In [66]:
my_tuple = (1, 3, 5, 7, 9)
middle = my_tuple[len(my_tuple)//2]
print("Middle element:", middle)

Middle element: 5

56.Check if two tuples (1, 2, 3) and (3, 2, 1) are the same.

In [67]:
t1 = (1, 2, 3)
t2 = (3, 2, 1)
print("Same?" , t1 == t2)

Same? False

57.Create a nested tuple and print an inner element.

In [68]:
nested = (1, (2, 3), (4, 5))
print("Inner element:", nested[1][1])  # → 3

Inner element: 3

58.Merge three tuples into one.

In [69]:
t1 = (1, 2)
t2 = (3, 4)
t3 = (5, 6)
merged = t1 + t2 + t3
print("Merged tuple:", merged)

Merged tuple: (1, 2, 3, 4, 5, 6)

59.Find the index of 5 in the tuple (1, 3, 5, 7, 9).

In [70]:
my_tuple = (1, 3, 5, 7, 9)
print("Index of 5:", my_tuple.index(5))

Index of 5: 2

60.Unpack a tuple into separate variables.

In [71]:
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print(a, b, c)

10 20 30

61. Create a dictionary with the following key-value pairs:
	name: "Alice", age: 25, city: "New York"

In [72]:
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

62: person = {"name": "Alice", "age": 25, "city": "New York"}

	Print the value associated with the key "city"

In [73]:
person = {"name": "Alice", "age": 25, "city": "New York"}
print("City:", person["city"])

City: New York

63: Update the age of Alice to 26 in the dictionary

In [74]:
person["age"] = 26
print(person)

{'name': 'Alice', 'age': 26, 'city': 'New York'}

64. Add a new key "email" with value "alice@example.com" to the dictionary

In [75]:
person["email"] = "alice@example.com"
print(person)

{'name': 'Alice', 'age': 26, 'city': 'New York', 'email': 'alice@example.com'}

65. Delete the key "city" from the dictionary

In [76]:
del person["city"]
print(person)

{'name': 'Alice', 'age': 26, 'email': 'alice@example.com'}

66. Check if the key "email" exists in the dictionary

In [77]:
print("email" in person)

True

67: Create a dictionary of students:

 {
    "Alice": {"math": 90, "science": 85},     
    "Bob": {"math": 75, "science": 95}
 }

Print Bob's science score.

In [78]:
students = {
    "Alice": {"math": 90, "science": 85},
    "Bob": {"math": 75, "science": 95}
}

print("Bob's science score:", students["Bob"]["science"])

Bob's science score: 95

68. Create a set named `fruits` with the items: "apple", "banana", "cherry"

In [86]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'banana', 'apple', 'cherry'}

69. Add "orange" to the set `fruits`

In [87]:
fruits.add("orange")
print(fruits)

{'banana', 'orange', 'apple', 'cherry'}

70. Remove "banana" from the set `fruits`
    What happens if you try to remove an item that doesn’t exist?

In [88]:
fruits.remove("banana")  # ❌ Error if not found
# OR safe version:
fruits.discard("banana")

71. Check if "apple" is in the set `fruits`

In [83]:
print("apple" in fruits)

True

72. Given a list: [1, 2, 2, 3, 4, 4, 5]
    Use a set to remove duplicates

In [84]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique = list(set(my_list))
print(unique)

[1, 2, 3, 4, 5]

73. Given a sentence: "hello world and hello python"
    Find all unique words

In [85]:
sentence = "hello world and hello python"
words = set(sentence.split())
print("Unique words:", words)

Unique words: {'world', 'hello', 'python', 'and'}